.svg-map{
  width: 490px;
  height: 230px;
  display: inline-block;
}

.svgMap-map-wrapper {
  position: relative;
  width: 100%;
  padding-top: 50%;
  overflow: hidden;
  background: #d9ecff;
  color: #111;
}

.svgMap-map-wrapper * {
  box-sizing: border-box;
  outline: none;
}

.svgMap-map-wrapper .svgMap-map-image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  background: #fff;
}

.svgMap-map-wrapper .svgMap-map-controls-wrapper {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 50;
  display: flex;
  overflow: hidden;
  border-radius: 2px; 
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.svgMap-map-wrapper .svgMap-map-controls-zoom,
.svgMap-map-wrapper .svgMap-map-controls-move { 
  overflow: hidden;
  background: #fff;
}
 
.svgMap-map-wrapper .svgMap-control-button {
  cursor: pointer;
  width: 20px;
  height: 20px;
  position: relative;
}

.svgMap-map-wrapper .svgMap-control-button.svgMap-zoom-button:before,
 .svgMap-map-wrapper .svgMap-control-button.svgMap-zoom-button:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #666;
  transition: background-color .2s;
}

.svgMap-map-wrapper .svgMap-control-button.svgMap-zoom-button:before {
  width: 10px;
  height: 3px;
}

.svgMap-map-wrapper .svgMap-control-button.svgMap-zoom-button:hover:before,
 .svgMap-map-wrapper .svgMap-control-button.svgMap-zoom-button:hover:after {
  background: #111;
}

.svgMap-map-wrapper .svgMap-control-button.svgMap-zoom-button.svgMap-disabled:before, 
.svgMap-map-wrapper .svgMap-control-button.svgMap-zoom-button.svgMap-disabled:after {
  background: #ccc;
}

.svgMap-map-wrapper .svgMap-control-button.svgMap-zoom-in-button:after {
  width: 3px;
  height: 10px;
}

.svgMap-map-wrapper .svgMap-country {
  cursor: pointer;
  stroke: #fff;
  stroke-width: 1;
  stroke-linejoin: round; 
  transition: fill .2s, stroke .2s;
}

.svgMap-map-wrapper .svgMap-country:hover, .svgMap-map-wrapper .svgMap-country.svgMap-active {
    opacity: 0.5;
}

.svgMap-map-wrapper .svgMap-country.svgMap-active {
  stroke-width: 1.5;
}

.svgMap-tooltip {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 10000;
  border-radius: 2px;
  background: #000;
  color: #fff;
  transform: translate(-50%, -100%); 
  display: none;
  pointer-events: none; 
}

.svgMap-tooltip.svgMap-tooltip-flipped {
  transform: translate(-50%, 0);
  border-bottom: 0;
  border-top: 1px solid #000;
}

.svgMap-tooltip.svgMap-active {
  display: block;
}

.svgMap-tooltip .svgMap-tooltip-content-container {
  position: relative;
  padding: 3px 5px;
}
 